################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/prep/F#/Exercises/.vs/Exercises
